doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Register
    body 
        form(action="Register" method="post" align="center")
             lable(for="username") username
             input(type="username" name="username")
             br
             br
             lable(for="age") age
             input(type="text" name="age")
             br
             br
             lable(for="password") password
             input(type="text" name="password")
             br
             br
             lable(for="mpbile") mobile  
             input(type="text" name="mobile")
             br
             br
             input(type="submit" name="Register" value="Register")